/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style About
 * 
 */
@import './utils/ColorVariables.scss';

#about{
    background-color: $BacckgroundStyle-1 !important;
}

.h2About {
    width: 100%;
    text-align: center;
    font-size: 3em;
    display: inline-block;
	margin: 0 0 0.8em;
}
p {
    font-size: 1em;
    margin-bottom: 0;
}
.profile {
    max-width: 300px;
  }
#about {
    background-color: transparent;
    font-size: 1.1em;
    padding-top: 1em;
  }


@media screen and (max-width: 1280px) {

    .h2About {
            font-size: 2.5em;
        }

}
@media screen and (max-width: 749px) {

    .profile {
        display: none;
      }

}
