/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style Banner
 * 
 */
@import './utils/ColorVariables.scss';

body.is-touch #banner {
    background-attachment: scroll;
}


#banner {
    margin-top: 0;
    padding: 16em 0 13em 0;
    background-attachment: fixed;
    background-image: url("../assets/img/caroussel/slide2-min.png");
    background-position: center top;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
}

#banner:last-child {
    margin-bottom: 0;
}

#banner  {
    h1 {
        color: $colorH1Banner;
        display: inline-block;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: 700;
        line-height: 1.35;
        margin-bottom: 0.5em;
        margin: 0 0 1em 0;
    }
    p {
        color: $colorParagrapheBanner;
        font-size: 1.5em;
        margin-bottom: 1.75em;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 14em 0 11em 0;
    }

    #banner h1 {
        font-size: 2.5em;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        padding: 9em 0 7em 0;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 6em 2em 6em 2em;

    }
    #banner  {
        h1 {
            font-size: 2.25em;
        }
        p {
           font-size: 1.25em;
        }
        br {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {

    #banner {
        padding: 4em 2em 4em 2em;
        background-image: url("../assets/img/caroussel/slide2-small-min.png");
    }
    .actions {
        display: flex;
        justify-content: center;
        padding-left: 0%;
    }
}

