/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style Experience
 * 
 */
@import './utils/ColorVariables.scss';

.img-resize {
    width: 10em;
}
  
.style {
    font-size: 20px;
}
  
.jumbo-style {
    background-image: linear-gradient(-225deg, $gradientColor-1 0%, $gradientColor-2 48%, $gradientColor-3 100%);
    padding-top: 1em;
}
  
.body-title-style {
    font-size: 25px;
    font-weight: 800;
}
#BoxlogoOpenclassrooms {
    background-color: $BacckgroundBoxLogo !important;
    border-bottom: none !important;
}
@media screen and (max-width: 768px) {
    
    .img-resize {
        /* max-width: 50%; */
        /* margin-top: 10px;
        margin-bottom: 10px; */
        display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .styleTitle {
        font-size: 20px;
    }
    .style {
        font-size: 15px;
    }
  }