/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style Header
 * 
 */
@import './utils/ColorVariables.scss';


header, nav {
    display: block;
}
.nav-theme {
    background-color: $backgroundHeader;
    font-size: 25px;
}
#navLinkheader:hover {
  color: $colorButtonBanner !important;
}
  
.animate-navbar {
    box-shadow: 1px 1px 1px $colorShadowHeader;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
}
h1.h1Nav{
    margin-bottom: 0em;
    font-size: 30px;
    color: $colorH1Banner; 
}

@media screen and (max-width: 945px) {
  .nav-theme {
    font-size: 20px;
  }   
}
@media screen and (max-width: 850px) {
  .nav-theme {
    font-size: 15px;
  }
}
@media screen and (max-width: 780px) {
  h1.h1Nav {
    font-size: 30px;
  }
}