/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style Projets
 * 
 */
@import './utils/ColorVariables.scss';


#projects {
    background-image: linear-gradient(-225deg, $gradientColor-1 0%, $gradientColor-2 48%, $gradientColor-3 100%);
} 

.imageSpan{
    width: 40px;
    
}
.boxSpanLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.vertical-timeline-element-date {
    color: $colorTimeLine;
}
@media screen and (max-width: 500px) {
    .imageSpan{
        width: 30px;
    }
  }

  
  
  