/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Sass variables des couleurs
 * 
 */
/* style background */
$BacckgroundStyle-1: #f6f6f6; /* section : About / Footer*/

/*section header*/
$backgroundHeader: #0f0f0ff8;
$colorShadowHeader: #222222;

/* Section About */
$BackgroundSectionAbout: #ffffff;

/* Section Banner */
$colorH1Banner: #ffffff;
$colorParagrapheBanner: #aaaaaa;
$colorButtonBanner: #f32853;
$colorButtonBannerHover: #3e3c45;
$colorButtonBannerActive: #262429;
$colorFontsButton: #ffffff;


/* Section Experience */

$BacckgroundBoxLogo: #ffffff; /* boxeLogoOpenclassrooms / boxSkill*/

$gradientColor-1: #2cd8d5;
$gradientColor-2: #6b8dd6;
$gradientColor-3: #8e37d7;

/* section Projects */
$colorTimeLine: #1d1c1c; 
/* section Skills*/
$colorFontsDetails: #231d5af8; 
$h2verticaleTimeline: #303e49;

/* Section Footer */
$colorFontsFooter: #aaaaaa;
$colorFontsFooterHover: #666666;



