/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style About
 * 
 */
.h2About {
    width: 100%;
    text-align: center;
    font-size: 3em;
    display: inline-block;
	margin: 0 0 0.8em;
}
p {
    font-size: 1em;
    margin-bottom: 0;
}
.profile {
    max-width: 300px;
  }
#about {
    padding-top: 1rem !important;
    background-color: transparent;
    font-size: 1.1em;
  }
.my-details {
    background-color: #ffffffbe;
}

@media screen and (max-width: 1280px) {

    .h2About {
            font-size: 2.5em;
        }

}
@media screen and (max-width: 749px) {

    .profile {
        max-width: 200px;
        max-height: auto;
      }

}
