/**
 * @author j.boero
 * Projet : Portfolio
 * * Novembre 2020
 * 
 * Compo Style Experience
 * 
 */
.img-resize {
    width: 10em;
}
  
.style {
    font-size: 20px;
}
  
.jumbo-style {
    background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
    padding-top: 1em;
}
  
.body-title-style {
    font-size: 25px;
    font-weight: 800;
}

  @media screen and (max-width: 480px) {
    .styleTitle {
        font-size: 20px;
    }
    .img-resize {
        /* max-width: 50%; */
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .style {
        font-size: 15px;
    }
  }